name: example
description: A project used to demo the Pattern Lock.
version: 1.0.0+1
publish_to: none

environment:
  sdk: '>=2.12.0-133.2.beta <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  pattern_lock:
    path: ../
  url_launcher: ^6.0.0-nullsafety.1

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
