name: pattern_lock
description:
  Pattern lock as Flutter widget. Customizable and easy to use.
version: 2.0.0
homepage: https://github.com/qwert2603/pattern_lock

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
